<h2>Edit this Gist</h2>
<form id="newGist">
	Title: <input name="gist[title]" type="text" id="title" value="<%= gist.escape('title')%>"><br>
	<input type="submit" value="Create Gist" id="newGistSubmit">
	<br>
	<input type="submit" value="Add a gist file" id="addGistFile">
	<br>
</form>
