<h2>Create a new Gist</h2>
<form id="newGist">
	Title: <input name="gist[title]" type="text" id="title"><br>
	<input type="submit" value="Create Gist" id="newGistSubmit">
	<br>
	<input type="submit" value="Add a gist file" id="addGistFile">
	<br>
</form>
